@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@if(SignInManager.IsSignedIn(User)){
<form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-left">

    <ul class="nav navbar-brand navbar-left">

        <button type="submit" style="width:auto; margin-left:20px; padding-bottom:4px; padding-top:4px; color:white;font-size:14px;" class="nav-link btn-dark py-0">

            Logout: @User.Identity.Name &nbsp;
        </button>
    </ul>

</form>
}else{
<a class="nav-link text-light" asp-controller="Account" asp-action="Login"  asp-route-returnUrl="@string.Format("{0}{1}",Context.Request.Path,Context.Request.QueryString)" style="color:white">&nbsp; Log in&nbsp;</a>
<a class="nav-link text-light" asp-controller="Account" asp-action="Register"   style="color:white">&nbsp;Regitar</a> 
}